[MESSAGES CONTROL]
disable=
    bare-except,
    duplicate-code,
    invalid-name,
    line-too-long,
    locally-disabled,
    missing-docstring,
    star-args,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    wrong-import-order

[REPORTS]
output-format=text
reports=no
