[MESSAGES CONTROL]
disable=
    duplicate-code,
    invalid-name,
    line-too-long,
    locally-disabled,
    missing-docstring,
    star-args,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-statements,
    ungrouped-imports,
    wrong-import-order,
    unspecified-encoding

[REPORTS]
output-format=text
reports=no
