include LICENSE
include MANIFEST.in
include NEWS
include README.rst
include debian/*
include examples/*
include pglookout.json
include pglookout.spec
include pglookout.unit
include pglookout/*.py
include setup.py
include test/*.py
include version.py

recursive-exclude *~ *.pyc \.*
